{% extends "block.html.twig" %}
{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup themeable
 */
#}
{% block content %}
  {% if site_logo %}
    <div class="o-Flex__Item c-HomeLink__Logo">
      <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" class="conference-logo" />
    </div>
  {% endif %}
  <div class="o-Flex__Item c-HomeLink__Titles">
    <h1 class="c-ConferenceName">{{ block_current_name }}</h1>
    {% if site_slogan %}
      <p class="c-ConferenceTagline">{{ site_slogan }}</p>
    {% endif %}
    <p class="c-ConferenceLocation">
      {{ block_current_location_advisory }}
      |
      <time datetime="{{ block_current_startdate|date('c') }}">
        {{ block_current_startdate|date('M d') }}
        {% if block_current_startdate|date('Y') != block_current_enddate|date('Y') %}
          , {{ block_current_startdate|date('Y') }}
        {% endif %}
      </time>
      &ndash;
      <time datetime="{{ block_current_startdate|date('c') }}">
        {% if block_current_startdate|date('M') != block_current_enddate|date('M') %}
          {{ block_current_enddate|date('M') }}
        {% endif %}
        {{ block_current_enddate|date('d, Y') }}
      </time>
    </p>
  </div>
{% endblock %}
