{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
<details class="o-Tablist__Panel c-Banner c-Banner--head c-FooterPanel" role="tabpanel" id="panel-next">
  <summary class="o-Tablist__Tab" role="tab">
    <time class="c-YearBadge c-YearBadge--tab" datetime="{{ content.field_footerblock_legacy_start.0['#markup']|date('Y') }}">
      {{- (content.field_footerblock_legacy_start.0['#markup']|date('Y'))[:2] -}}
      <span class="c-YearBadge__Year">{{ (content.field_footerblock_legacy_start.0['#markup']|date('Y'))[2:] }}</span>
    </time>
  </summary>
  <div{{ attributes.addClass('o-Grid o-Grid--siteFoot h-Constrain') }}>
    {{ title_prefix }}
    {{ title_suffix }}
    <div class="o-Flex o-Flex--siteHead">
      {% if block_sitelogo %}
        <img class="o-Flex__Item c-SiteLogo" src="{{ block_sitelogo }}" alt="" role="none"/>
      {% endif %}
      {% if block_secondarylogo %}
        <img class="o-Flex__Item c-SiteLogo c-SiteLogo--secondary" src="{{ block_secondarylogo }}" alt="" role="none"/>
      {% endif %}
    </div>
    <div class="c-ConferenceTitles">
        <h1 class="c-ConferenceTitles__Name">{{ content.field_footerblock_legacy_name.0 }}</h1>
        <p class="c-ConferenceTitles__Detail">
          {% if content.field_footerblock_legacy_loc_ttl.0 %}
            <abbr title="{{ content.field_footerblock_legacy_loc_ttl.0 }}">{{ content.field_footerblock_legacy_loc_dsp.0 }}</abbr>
          {% else %}
            <span>{{ content.field_footerblock_legacy_loc_dsp.0 }}</span>
          {% endif %}
          {{- ' | ' -}}
          <time datetime="{{ content.field_footerblock_legacy_start.0['#markup']|date('c') }}">
            {{- content.field_footerblock_legacy_start.0['#markup']|date('F j') -}}
            {%- if content.field_footerblock_legacy_start.0['#markup']|date('Y') != content.field_footerblock_legacy_end.0['#markup']|date('Y') %}
              {{- content.field_footerblock_legacy_start.0['#markup']|date(', Y') -}}
            {% endif -%}
          </time>
          {{- '&ndash;' -}}
          <time datetime="{{ content.field_footerblock_legacy_end.0['#markup']|date('c') }}">
            {%- if content.field_footerblock_legacy_start.0['#markup']|date('m') != content.field_footerblock_legacy_end.0['#markup']|date('m') %}
              {{- content.field_footerblock_legacy_end.0['#markup']|date('F ') -}}
            {% endif -%}
            {{- content.field_footerblock_legacy_end.0['#markup']|date('j, Y') -}}
          </time>
        </p>
        <p class="c-ConferenceTitles__Tagline">{{ content.field_footerblock_legacy_theme.0 }}</p>
    </div>
    <div class="t-Content">{{ content.field_footerblock_legacy_body.0 }}</div>
  </div>
</details>
