{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('o-Flex o-Flex--siteHead') }}>
  {{ title_prefix }}
  {{ title_suffix }}
    {% if block_sitelogo %}
      <div class="o-Flex__Item c-SiteLogo">
        <img src="{{ block_sitelogo }}" alt="Home"/>
      </div>
    {% endif %}
    {% if block_secondarylogo %}
      <div class="o-Flex__Item c-SiteLogo c-SiteLogo--secondary">
        <img src="{{ block_secondarylogo }}" alt="Home"/>
      </div>
    {% endif %}
    <div class="o-Flex__Item c-ConferenceTitles -ta-l-sM">
      <h1 class="c-ConferenceTitles__Name">{{ block_name }}</h1>
      <p class="c-ConferenceTitles__Detail">
        {%- if block_location_advisory -%}
          <abbr title="{{ block_location_advisory }}">
        {%- endif %}
        {{- block_location_display }}
        {%- if block_location_advisory -%}
          </abbr>
        {%- endif %}
        |
        <time datetime="{{ block_startdate|date('c') }}">
          {{- block_startdate|date('F j') -}}
          {%- if block_startdate|date('Y') != block_enddate|date('Y') %}
            {{- block_startdate|date(', Y') -}}
          {% endif -%}
        </time>
        {{- '&ndash;' -}}
        <time datetime="{{ block_enddate|date('c') }}">
          {%- if block_startdate|date('m') != block_enddate|date('m') %}
            {{- block_enddate|date('F ') -}}
          {% endif -%}
          {{- block_enddate|date('j, Y') -}}
        </time>
      </p>
      {% if site_slogan %}
        <p class="c-ConferenceTitles__Tagline">{{ site_slogan }}</p>
      {% endif %}
    </div>
</div>
