{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
<details class="o-Tablist__Panel c-Banner c-Banner--head c-FooterPanel" role="tabpanel" id="panel-current" open="">
  <summary class="o-Tablist__Tab" role="tab">
    <time class="c-YearBadge c-YearBadge--tab" datetime="{{ block_startdate|date('Y') }}">
      {{- (block_startdate|date('Y'))[:2] -}}
      <span class="c-YearBadge__Year">{{ (block_startdate|date('Y'))[2:] }}</span>
    </time>
  </summary>
  <div{{ attributes.addClass('o-FooterGrid h-Constrain') }}>
    {{ title_prefix }}
    {{ title_suffix }}
    <div class="o-FooterGrid__Logos o-Flex o-Flex--siteHead">
      {% if block_sitelogo %}
        <img class="o-Flex__Item c-SiteLogo" src="{{ block_sitelogo }}" alt="" role="none presentation"/>
      {% endif %}
      {% if block_secondarylogo %}
        <img class="o-Flex__Item c-SiteLogo c-SiteLogo--secondary" src="{{ block_secondarylogo }}" alt="" role="none presentation"/>
      {% endif %}
    </div>
    <div class="o-FooterGrid__Titles o-Flex__Item c-ConferenceTitles">
      <h1 class="c-ConferenceTitles__Name">{{ block_name }}</h1>
    </div>
    <nav class="o-FooterGrid__Sitemap o-Flex o-Flex--siteFoot" id="sitemap">
      <h2 class="h-Hidden">Sitemap</h2>
      {{ content.body.0 }}
      <div class="o-Flex__Item">
        <section>
          <h3>Contact Us</h3>
          <ul class="o-List">
            <li class="o-List__Item -mb-1"><a href="tel:800-548-2723"   ><i class="c-FooterIcon glyphicons glyphicons-iphone"   aria-hidden="true"></i> (800) 548-2723</a></li>
            <li class="o-List__Item -mb-1"><a href="tel:+1-703-295-6300"><i class="c-FooterIcon glyphicons glyphicons-earphone" aria-hidden="true"></i> +1 (703) 295-6300</a></li>
            <li class="o-List__Item -mb-1"><a href="/contact"           ><i class="c-FooterIcon glyphicons glyphicons-envelope" aria-hidden="true"></i> Other Contacts</a></li>
          </ul>
        </section>
        <section>
          <h3>Connect With ASCE</h3>
          <ul class="o-List o-Flex c-SocialListFooter">
            <li class="o-List__Item o-Flex__Item c-SocialListFooter__Item"><a rel="external nofollow noopener" target="_blank" href="http://www.linkedin.com/groups?gid=143956&trk=hb_side_g"><i class="c-FooterIcon glyphicons social social-linked-in"><span class="h-Hidden">LinkedIn</span></i></a></li>
            <li class="o-List__Item o-Flex__Item c-SocialListFooter__Item"><a rel="external nofollow noopener" target="_blank" href="http://www.twitter.com/ascetweets"                      ><i class="c-FooterIcon glyphicons social social-twitter"  ><span class="h-Hidden">Twitter</span></i></a></li>
            <li class="o-List__Item o-Flex__Item c-SocialListFooter__Item"><a rel="external nofollow noopener" target="_blank" href="http://www.facebook.com/asce.org"                       ><i class="c-FooterIcon glyphicons social social-facebook" ><span class="h-Hidden">Facebook</span></i></a></li>
            <li class="o-List__Item o-Flex__Item c-SocialListFooter__Item"><a rel="external nofollow noopener" target="_blank" href="http://www.instagram.com/asce_hq/"                      ><i class="c-FooterIcon glyphicons social social-instagram"><span class="h-Hidden">Instagram</span></i></a></li>
            <li class="o-List__Item o-Flex__Item c-SocialListFooter__Item"><a rel="external nofollow noopener" target="_blank" href="https://www.youtube.com/user/AmerSocCivilEng"           ><i class="c-FooterIcon glyphicons social social-youtube"  ><span class="h-Hidden">YouTube</span></i></a></li>
          </ul>
        </section>
      </div>
    </nav>
  </div>
</details>
