<header>
  <nav class="o-Flex o-MobileBar">
    <h1 class="h-Hidden">Mobile Menu</h1>
    <a class="o-Flex__Item o-MobileBar__Item h-Block" href="/">
      <i class="glyphicons glyphicons-home"><span class="h-Hidden">Home</span></i>
    </a>
    <label class="o-Flex__Item o-MobileBar__Item c-Toggle h-Block" aria-label="toggle main menu">
      <input class="c-Toggle__Check h-Hidden" type="checkbox" value="main menu is open" role="switch"/>
      <i class="c-Toggle__Viz glyphicons glyphicons-menu-hamburger" role="none"></i>
    </label>
    <noscript><a href="#sitemap">Site Map</a></noscript>
    {{ page.menu_mobile }}
  </nav>
  <div class="c-Banner c-Banner--head">
    <div class="o-Flex o-Constrain">
      <a class="o-Flex__Item o-MainCol h-Block" href="{{ path('<front>') }}" rel="home">
        {{ page.header }}
      </a>
      <div class="o-Flex__Item o-SideCol c-TopImg">
        <span class="c-YearBadge" role="none">{{ (page_startdate|date('Y'))[2:] }}</span>
        {{ page.menu_contrib }}
      </div>
    </div>
  </div>
  <nav class="c-Banner c-Banner--nav">
    <h1 class="h-Hidden">Main Menus</h1>
    <div class="o-Constrain o-Flex">
      <div class="o-Flex__Item o-MainCol">
        {{ page.menu_main }}
      </div>
      <div class="o-Flex__Item o-SideCol">
        {{ page.menu_register }}
      </div>
    </div>
  </nav>
  <nav class="c-Banner c-Banner--nav c-Banner--nav--sub">
    <h1 class="h-Hidden">Sub Menus</h1>
    <div class="o-Constrain">
      {{ page.menu_sub }}
    </div>
  </nav>
</header>
<main id="main">
  <div class="o-Constrain o-Flex -xd-c-nM -mb-2">
    <div class="o-Flex__Item o-MainCol">
      {{ page.hero }}
      <section class="t-Content">{{ page.content }}</section>
    </div>
    <div class="o-Flex__Item o-SideCol -pt-1 -ph-2">{{ page.sidebar }}</div>
  </div>
</main>
<aside>
  <div class="o-Constrain">
    <h2 class="h-Hidden">Top Sponsors</h2>
    {{ page.sponsors }}
  </div>
</aside>
<aside class="c-Banner c-Banner--coop">
  <div class="o-Constrain">
    <h2 class="h-Hidden">Supporting Organizations</h2>
    {{ page.nonsponsors }}
  </div>
</aside>
<footer>
  {{ page.footer }}
  <p class="c-Banner c-Banner--copyright -mb-z -ta-c">
    <i class="c-AsceLogo" role="none"></i>
    <a href="http://www.asce.org/" rel="exetrnal" target="_blank">&copy; 1996&ndash;{{ now|date("Y") }},
      American Society of Civil Engineers | ASCE.org</a>
  </p>
</footer>
