doctype html
html(lang="en")
  -
    var conference = {
      name     : 'Sample ASCE Conference',
      classname: '',
      menuhover: false,
      secondary_logo: false,
      tagline  : 'Optional Tagline for the Conference Goes Here Lorem Ipsum',
      theme    : 'New ideas. New practices. New science. New resources. New colleagues. New business procedures.',
      detail   : 'Boston, Massachusetts  |  April 3–5, 2015',
      image    : {
        shield : '../logo.svg',
        hero   : '../../../../sites/default/files/2017-05/new-orleans-trolley.jpg',
        banner : '../../../../sites/default/files/site-images/CECAR%207%20Banner%20Image.jpg',
        sidebar: '../../../../sites/default/files/2017-07/slide_2.jpg',
      },
      colors: {
        primary  : '#6a9556',
        secondary: '#6fc2c4',
        accent   : '#714509',
      }
    }
  head
    title Sample ASCE Conference
    meta(charset="utf-8")
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400italic,600italic,700italic,400,600,700")
    link(rel="stylesheet" href="../node_modules/xmeter/css/xmeter.css")
    link(rel="stylesheet" href="https://cdn.rawgit.com/chharvey/bangs/v0.15.0/bangs.css")
    link(rel="stylesheet" href="../vendor/futura.css")
    link(rel="stylesheet" href="../vendor/glyphicons_pro_1_9_2/glyphicons/web/html_css/css/glyphicons.css")
    link(rel="stylesheet" href="../vendor/glyphicons_pro_1_9_2/glyphicons-filetypes/web/html_css/css/glyphicons-filetypes.css")
    link(rel="stylesheet" href="../vendor/glyphicons_pro_1_9_2/glyphicons-halflings/web/html_css/css/glyphicons-halflings.css")
    link(rel="stylesheet" href="../vendor/glyphicons_pro_1_9_2/glyphicons-social/web/html_css/css/glyphicons-social.css")
    link(rel="stylesheet" href="../css/legacy.css")
    style.
      body {
        --color-primary:   #{conference.colors.primary};
        --color-secondary: #{conference.colors.secondary};
        --color-accent:    #{conference.colors.accent};
      }
    noscript
      // remove Toggle menu when JS is disabled
      style.
        @media not all and (min-width: 45em) {
          .c-Toggle,
          .o-Drawer { display: none; }
        }
  body#top(class=conference.classname)
    a.h-Hidden(href="#main") skip to main content
    header
      nav.o-Flex.o-MobileBar.c-Banner.c-Banner--nav.-d-n-sM
        h1.h-Hidden Mobile Menu
        a.o-Flex__Item.o-MobileBar__Item.h-Block(href="./")
          i.glyphicons.glyphicons-home: span.h-Hidden Home
        label.o-Flex__Item.o-MobileBar__Item.c-Toggle.h-Block
          input.c-Toggle__Check.h-Hidden(type="checkbox" value="main menu is open" role="switch")
          i.c-Toggle__Viz.glyphicons.glyphicons-menu-hamburger
            span.h-Hidden toggle main menu
        noscript
          a(href="#sitemap") Site Map
        ul.o-List.o-Drawer.c-NavBar.c-NavBar--mobile(role="directory")
          li.o-List__Item
            a(href="./") Home
          li.o-List__Item
            a(href="") Program
            ul
              li: a(href="") Speakers
              li: a(href="") Exhibitor List
              li: a(href="") ASCE Communities &amp; Pavilions
          li.o-List__Item
            a(href="") Location
            ul
              li: a(href="") Lodging &amp; Transportation
              li: a(href="") For International Travel
          li.o-List__Item
            a(href="") About
            ul
              li: a(href="") Cooperating Organizations
              li: a(href="") Volunteer
          li.o-List__Item: a(href="") Contact
          li.o-List__Item: a(href="") Why Attend
          li.o-List__Item: a(href="") Registration
          li.o-List__Item: a(href="") For Speakers
          li.o-List__Item: a(href="./sponsors.html") Sponsors
          li.o-List__Item: a(href="") Exhibitors
      div.c-Banner.c-Banner--head
        div.o-Flex.o-Constrain
          a.o-Flex__Item.o-Flex.o-Flex--siteHead.o-MainCol(href="./" rel="home")
            div.o-Flex__Item.c-SiteLogo
              img(src=conference.image.shield alt="Home")
            if conference.secondary_logo
              div.o-Flex__Item.c-SiteLogo.c-SiteLogo--secondary
                img(src=conference.image.shield alt="Home")
            div.o-Flex__Item.c-ConferenceTitles.-ta-l-sM
              h1.c-ConferenceTitles__Name= conference.name
              p.c-ConferenceTitles__Detail= conference.detail
              p.c-ConferenceTitles__Tagline= conference.tagline
          div.o-Flex__Item.o-SideCol.c-TopImg.-d-n-nM(style=`background-image: url('${conference.image.banner}');`)
            span.c-YearBadge(role="none") 15
            ul.o-List.o-Flex.c-NavBar.c-NavBar--contrib
              li.o-List__Item: a(href="#0") For Speakers
              li.o-List__Item: a(href="#0") Sponsors
              li.o-List__Item: a(href="#0") Exhibitors
      nav.c-Banner.c-Banner--nav.-d-n-nM
        h1.h-Hidden Main Menus
        div.o-Constrain.o-Flex
          div.o-Flex__Item.o-MainCol: ul.o-List.o-Flex.c-NavBar.c-NavBar--main
            li.o-List__Item: a(href="./")
              i.glyphicons.glyphicons-home: span.h-Hidden Home
            li.o-List__Item(data-menu-target="#programlevel2"): a(href="#0")
              | Program
              i.glyphicons.-fz-norm.glyphicons-chevron-down(aria-label="sub-items")
            li.o-List__Item(data-menu-target="#locationlevel2" class={'active':conference.menuhover}): a(href="#0")
              | Location
              i.glyphicons.-fz-norm.glyphicons-chevron-down(aria-label="sub-items")
            li.o-List__Item(data-menu-target="#aboutlevel2"): a(href="#0")
              | About
              i.glyphicons.-fz-norm.glyphicons-chevron-down(aria-label="sub-items")
            li.o-List__Item(data-menu-target="#contactlevel2"): a(href="#0")
              | Contact
          div.o-Flex__Item.o-SideCol: ul.o-List.o-Flex.c-NavBar.c-NavBar--register
            li.o-List__Item: a(href="#0") Why Attend
            li.o-List__Item: a(href="#0") Registration
      nav
        h1.h-Hidden Sub Menus
        div.c-Banner.c-Banner--nav.c-Banner--nav--sub#programlevel2: div.o-Constrain
          ul.o-List.o-Flex.c-NavBar.c-NavBar--sub
            li: a(href="") Speakers
            li: a(href="") Exhibitor List
            li: a(href="") ASCE Communities &amp; Pavilion
        div.c-Banner.c-Banner--nav.c-Banner--nav--sub#locationlevel2(class={'active':conference.menuhover}): div.o-Constrain
          ul.o-List.o-Flex.c-NavBar.c-NavBar--sub
            li: a(href="") Lodging &amp; Transportation
            li: a(href="") For International Travel
        div.c-Banner.c-Banner--nav.c-Banner--nav--sub#aboutlevel2: div.o-Constrain
          ul.o-List.o-Flex.c-NavBar.c-NavBar--sub
            li: a(href="") Cooperating Organizations
            li: a(href="") Volunteer
    main#main.o-Constrain.o-Flex.-xd-c-nM.-mb-2
        div.o-Flex__Item.o-MainCol
          header.c-Hero
            img.c-Hero__Img(src=conference.image.hero alt="unsaturated soil—dry cracked earth")
            h1.c-Hero__Hn= conference.theme
            div.c-Hero__Blurb
              p.
                Exposure to the latest industry advances will help you discover
                your own #[a cutting-edge solutions]. Gain contacts among colleagues and
                #[a(href) resource providers].
              p.
                Ultimately, #[cite Structures Congress 2014]
                will #[a.c-LinkBanner(href) prepare you and your organization]
                to tackle greater challenges.
          div.t-Content: article
            h2 Keynote Speakers
            ul.o-List
              li.o-Flex.c-KeynoteSpeaker
                div.o-Flex__Item.c-KeynoteSpeaker__Session.c-DateBlock
                  div.c-DateBlock__Date: time.h-Block(datetime="2014-04-03")
                    span.h-Block Thursday
                    span.h-Block.c-DateBlock__MonthDay Apr 3
                  div.c-DateBlock__Desc Opening Plenary
                div.o-Flex__Item.c-KeynoteSpeaker__Headshot: img(src="../../../../sites/default/files/sample-images/speaker-scott-zimmer.jpg" alt="Charles Johnson")
                div.o-Flex__Item.c-KeynoteSpeaker__Details
                  p.c-Chair
                    span.h-Block.c-Chair__Name Charles Johnson, Ph.D., P.E., S.E., CVS, F.ASCE
                    span.h-Block.c-Chair__Affiliation Illuminate Foundry, Inc.
                  p: a.c-Button(href="#0") Speaker Details
              li.o-Flex.c-KeynoteSpeaker
                div.o-Flex__Item.c-KeynoteSpeaker__Session.c-DateBlock
                  div.c-DateBlock__Date: time.h-Block(datetime="2014-04-03")
                    span.h-Block Wednesday
                    span.h-Block.c-DateBlock__MonthDay Apr 12
                  div.c-DateBlock__Desc Special Session
                div.o-Flex__Item.c-KeynoteSpeaker__Headshot: img(src="../../../../sites/default/files/sample-images/louise-comfort.jpg" alt="Louise Comfort")
                div.o-Flex__Item.c-KeynoteSpeaker__Details
                  p.c-Chair
                    span.h-Block.c-Chair__Name Dr. Louise K. Comfort, Ph.D.
                    span.h-Block.c-Chair__Affiliation Director, Center for Disaster Management
                    span.h-Block.c-Chair__Affiliation University of Pittsburgh
                  p: a.c-Button(href="#0") Speaker Details
            h2 Pre-Conference Seminars
            p Sign up to earn additional PDHs at a pre-conference seminar:
            div.session Post Disaster Safety Evaluations
            p 6.0 PDHs - in cooperation with California Office of Emergency Services (CalOES) and Applied Technology Council (ATC)
            div.session Design of Sustainable Thermal Breaks
            p 4.0 PDHs
            h2 More Highlights
            ul
              li Dynamic technical sessions - choose from more than 120 sessions
              li The Council of American Structural Engineers (CASE) Spring Risk Management Convocation
              li Networking with more than 1,200 colleagues
            p: a.c-Button(href="") View Program
        div.o-Flex__Item.o-SideCol.-pt-1.-ph-2
            aside.c-Callout
              h1.c-Callout__Hn Site Colors
              p.-ta-c: button.c-Button(onclick="activateColorPickers()") Activate
              ol.o-List.o-Flex
                li.o-Flex__Item.-mr-h Primary  : #[input.js-picker.js-picker-primary(  type="color" value=conference.colors.primary  )]
                li.o-Flex__Item.-mr-h Secondary: #[input.js-picker.js-picker-secondary(type="color" value=conference.colors.secondary)]
                li.o-Flex__Item(    ) Accent   : #[input.js-picker.js-picker-accent(   type="color" value=conference.colors.accent   )]
              p #[strong Note:] Color settings are not saved. Refresh the page to reset.
              script.
                function activateColorPickers() {
                  $('button[onclick="activateColorPickers()"]').replaceWith(`<button class="c-Button" disabled="">Ready!</button>`)
                  $('[data-menu-target="#locationlevel2"], #locationlevel2').toggleClass('active')
                  $('input.js-picker').change(function () {
                    document.querySelector('body').style.setProperty('--color-primary'  , $('input.js-picker-primary'  ).val())
                    document.querySelector('body').style.setProperty('--color-secondary', $('input.js-picker-secondary').val())
                    document.querySelector('body').style.setProperty('--color-accent'   , $('input.js-picker-accent'   ).val())
                  })
                }
            aside.c-Callout
              h1.c-Callout__Hn Location
              div.c-Callout__Body
                section(itemprop="location" itemscope="" itemtype="https://schema.org/Accommodation")
                  img.h-Block.-mb-1(src=conference.image.sidebar alt="Boston Skyline" itemprop="photo")
                  h2.-fz-el-kilo(itemprop="description") Official Conference Venue
                  p
                    a(href="/location/hotel-travel" itemprop="url")
                      b(class="h-Clearfix" itemprop="name") Sheraton Boston Hotel &amp; Hynes Convention Center
                    span(itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress")
                      span(class="h-Clearfix" itemprop="streetAddress") 1201 Houston Street
                      | #[span(itemprop="addressLocality") Fort Worth], #[span(itemprop="addressRegion") TX] #[span(class="h-Clearfix" itemprop="postalCode") 76102]
                      span(class="h-Clearfix" itemprop="addressCountry") United States
                    a(href="tel:+1-800-555-5555" itemprop="telephone") +1-800-555-5555
                  p: a.c-Button(href="#0") link
                  p: a.c-Button link without href
                  p: button.c-Button button
                  p: button.c-Button(disabled="") disabled button
                  p Early Bird Rates - Save up to $200!
                  p.
                    $675 - Members #[br]
                    $875 - Non-Members #[br]
                    #[a(href="") More options &amp; rates available]#[br]
                    Prices go up February 12, 2014
            aside.c-Callout
              h1.c-Callout__Hn Important Dates
              div.c-Callout__Body
                dl.c-DateBlock
                  dt.c-DateBlock__Date: time.h-Block(datetime="2013-12-18")
                    span.h-Block.c-DateBlock__MonthDay Dec 18
                    span.h-Block.c-DateBlock__Expired 2013
                  dd.c-DateBlock__Desc.c-DateBlock__Expired Final Papers Due
                  dt.c-DateBlock__Date: time.h-Block(datetime="2014-03-13")
                    span.h-Block.c-DateBlock__MonthDay Feb 12
                    span.h-Block.c-DateBlock__Expired 2014
                  dd.c-DateBlock__Desc.c-DateBlock__Expired: a(href="#0") Advance Registration Deadline
                  dt.c-DateBlock__Date: time.h-Block(datetime="2014-02-12")
                    span.h-Block.c-DateBlock__MonthDay Mar 13
                    span.h-Block 2014
                  dd.c-DateBlock__Desc Early Registration Deadline
                  dt.c-DateBlock__Date: time.h-Block(datetime="2014-04-21")
                    span.h-Block.c-DateBlock__MonthDay Apr 21
                    span.h-Block 2014
                  dd.c-DateBlock__Desc: a(href="#0") Cancellation Deadline (minus $65)
            aside.c-Callout
              h1.c-Callout__Hn Conference Chairs
              div.c-Callout__Body
                ul.o-List
                  li.o-List__Item.c-Chair
                    span.h-Block.c-Chair__Name Glenn Bell, P.E., F.SEI, M.ASCE
                    span.h-Block.c-Chair__Affiliation Simpson Gumpertz &amp; Heger Inc.
                  li.o-List__Item.c-Chair
                    span.h-Block.c-Chair__Name Matt Card, P.E., Aff.M.ASCE
                    span.h-Block.c-Chair__Affiliation Alfred Benesch &amp; Co.
                p: a(href="") Message from the Chairs
            aside.c-Callout
              h1.c-Callout__Hn Plan, Engage, Connect
              div.c-Callout__Body
                p Enhance your conference experience with our mobile app.
                ul.o-List.o-Flex
                  li: a(href=""): img(src="../../../../sites/default/files/sample-images/App-Store.png" alt="")
                  li: a(href=""): img(src="../../../../sites/default/files/sample-images/Google-Play.png" alt="")
            aside.c-Callout
              h1.c-Callout__Hn Join the Conversation
              div.c-Callout__Body
                p Follow ASCE on social media for real-time conversation.
                p: a(href="#0")
                  i.glyphicons.social.social-twitter.-mr-h(role="none")
                  | #structures2014
    aside: div.o-Constrain
      h2.h-Hidden Supporters
      mixin supporterBlock(level, size, list)
        section.c-SupporterBlock(class=`c-SupporterBlock--${size}`)
          h1.c-SupporterBlock__Hn= level
          ul.o-List.o-Flex.c-SupporterBlock__List
            each item in list
              li.o-List__Item.o-Flex__Item.c-SupporterBlock__List__Item(itemprop="sponsor" itemscope="" itemtype="http://schema.org/Organization")
                a(href=item.url rel="external nofollow" itemprop="url")
                  img.c-SupporterBlock__Logo(src=item.img alt=item.name itemprop="logo")
                  meta(content=item.name itemprop="name")
      +supporterBlock('Platinum', 'lrg', [
        { name: 'Espon'   , url: '#0', img: '../../../../sites/default/files/sample-images/sponsor_logo_horizontal2.gif' }
      , { name: 'Alliance', url: '#0', img: '../../../../sites/default/files/sample-images/sponsor_logo_horizontal1.gif' }
      ])
      +supporterBlock('Gold', 'lrg', [
        { name: 'Ria'     , url: '#0', img: '../../../../sites/default/files/sample-images/Sponsorlogo_square1.gif'      }
      , { name: 'Geico'   , url: '#0', img: '../../../../sites/default/files/sample-images/sponsor_logo_horizontal3.gif' }
      , { name: 'Exponent', url: '#0', img: '../../../../sites/default/files/sample-images/sponsor_logo_horizontal4.gif' }
      ])
      +supporterBlock('Corporate', 'med', [
        { name: 'Geico'   , url: '#0', img: '../../../../sites/default/files/sample-images/sponsor_logo_horizontal3.gif' }
      , { name: 'Exponent', url: '#0', img: '../../../../sites/default/files/sample-images/sponsor_logo_horizontal4.gif' }
      ])
      +supporterBlock('Silver', 'med', [
        { name: 'Exponent', url: '#0', img: '../../../../sites/default/files/sample-images/sponsor_logo_horizontal4.gif' }
      , { name: 'Espon'   , url: '#0', img: '../../../../sites/default/files/sample-images/sponsor_logo_horizontal2.gif' }
      ])
      +supporterBlock('Bronze', 'sml', [
        { name: 'Ria'     , url: '#0', img: '../../../../sites/default/files/sample-images/Sponsorlogo_square1.gif'      }
      , { name: 'Geico'   , url: '#0', img: '../../../../sites/default/files/sample-images/sponsor_logo_horizontal3.gif' }
      ])
      +supporterBlock('Copper', 'sml', [
        { name: 'Alliance', url: '#0', img: '../../../../sites/default/files/sample-images/sponsor_logo_horizontal1.gif' }
      , { name: 'Geico'   , url: '#0', img: '../../../../sites/default/files/sample-images/sponsor_logo_horizontal3.gif' }
      , { name: 'Exponent', url: '#0', img: '../../../../sites/default/files/sample-images/sponsor_logo_horizontal4.gif' }
      ])
      +supporterBlock('Cooperating Organizations', 'sml', [
        { name: 'AISC'    , url: '#0', img: '../../../../sites/default/files/sample-images/cooplogo_square1.gif'     }
      , { name: 'Correios', url: '#0', img: '../../../../sites/default/files/sample-images/cooplogo_horizontalcolor1.gif' }
      , { name: 'Jacobs'  , url: '#0', img: '../../../../sites/default/files/sample-images/cooplogo_horizontalcolor2.gif' }
      , { name: 'T&DI'    , url: '#0', img: '../../../../sites/default/files/sample-images/cooplogo_horizontal2.gif' }
      , { name: 'CI'      , url: '#0', img: '../../../../sites/default/files/sample-images/cooplogo_square4.gif'     }
      , { name: 'EWRI'    , url: '#0', img: '../../../../sites/default/files/sample-images/cooplogo_horizontal4.gif' }
      , { name: 'KU'      , url: '#0', img: '../../../../sites/default/files/sample-images/Sponsorlogo_square2.gif' }
      ])
      +supporterBlock('Educational Grant', 'sml', [
        { name: 'AISC'    , url: '#0', img: '../../../../sites/default/files/sample-images/cooplogo_square1.gif'     }
      , { name: 'Correios', url: '#0', img: '../../../../sites/default/files/sample-images/cooplogo_horizontalcolor1.gif' }
      , { name: 'Jacobs'  , url: '#0', img: '../../../../sites/default/files/sample-images/cooplogo_horizontalcolor2.gif' }
      , { name: 'T&DI'    , url: '#0', img: '../../../../sites/default/files/sample-images/cooplogo_horizontal2.gif' }
      , { name: 'CI'      , url: '#0', img: '../../../../sites/default/files/sample-images/cooplogo_square4.gif'     }
      , { name: 'EWRI'    , url: '#0', img: '../../../../sites/default/files/sample-images/cooplogo_horizontal4.gif' }
      , { name: 'KU'      , url: '#0', img: '../../../../sites/default/files/sample-images/Sponsorlogo_square2.gif' }
      ])
    footer: fieldset.o-Tablist(role="tablist")
      dl.o-Flex
        //- NOTE: 'current' displayed first for accessibility
        mixin yearTab(year, conference_info, which)
          dt.o-Flex__Item.o-Tablist__Tab(class={'js-xo-_1': which==='prev'} id=`tab-${which}` role="tab")
            label.h-Block
              input.o-Tablist__Check.h-Hidden(type="radio" name="footertabs" value=year)&attributes((which==='current') ? {checked:''} : {})
              time.c-YearBadge.c-YearBadge--tab(datetime=year aria-label=year)= year.toString().slice(2)
          dd.o-Flex__Item.o-Tablist__Panel.c-Banner.c-Banner--head.c-FooterPanel(id=`panel-${which}` role="tabpanel" style="background-image: url('../images/pattern-bg.png');"): div.o-Constrain
            div.o-Flex.o-Flex--siteHead.-mv-2
              //- div.o-Flex__Item: span.c-YearBadge(role="none")= year.toString().slice(2)
              div.o-Flex__Item.c-SiteLogo
                img(src=conference.image.shield alt="" role="none")
              if conference.secondary_logo
                div.o-Flex__Item.c-SiteLogo.c-SiteLogo--secondary
                  img(src=conference.image.shield alt="" role="none")
              div.o-Flex__Item.c-ConferenceTitles
                h1.c-ConferenceTitles__Name= conference_info.name
                p.c-ConferenceTitles__Detail= conference_info.detail
                p.c-ConferenceTitles__Tagline= conference_info.tagline
            block
        +yearTab(2014, {name:'Sample ASCE Conference 2014'}, 'current')
          nav.o-Flex.o-Flex--siteFoot#sitemap
            h2.h-Hidden Sitemap
            ul.o-Flex__Item.o-List.c-Sitemap(role="directory")
              li.o-List__Item.c-Sitemap__Item
                a(href="./") Home
              li.o-List__Item.c-Sitemap__Item
                a(href="") Program
                ul.o-List.c-Sitemap__Sub
                  li.o-List__Item: a(href="") Speakers
                  li.o-List__Item: a(href="") Exhibitor List
                  li.o-List__Item: a(href="") ASCE Communities &amp; Pavilions
              li.o-List__Item.c-Sitemap__Item
                a(href="") Location
                ul.o-List.c-Sitemap__Sub
                  li.o-List__Item: a(href="") Lodging &amp; Transportation
                  li.o-List__Item: a(href="") For International Travel
              li.o-List__Item.c-Sitemap__Item
                a(href="") About
                ul.o-List.c-Sitemap__Sub
                  li.o-List__Item: a(href="") Cooperating Organizations
                  li.o-List__Item: a(href="") Volunteer
              li.o-List__Item.c-Sitemap__Item
                a(href="") Contact
            ul.o-Flex__Item.o-List.c-Sitemap(role="directory")
              li.o-List__Item.c-Sitemap__Item: a(href="") Why Attend
              li.o-List__Item.c-Sitemap__Item: a(href="") Registration
              li.o-List__Item.c-Sitemap__Item: a(href="") For Speakers
              li.o-List__Item.c-Sitemap__Item: a(href="") Sponsors
              li.o-List__Item.c-Sitemap__Item: a(href="") Exhibitors
            div.o-Flex__Item
              section
                h3 Contact Us
                ul.o-List
                  li.o-List__Item.-mb-1: a(href="#0")
                    i.-mr-1.glyphicons.glyphicons-iphone(role="none")
                    | (800) 548-2723
                  li.o-List__Item.-mb-1: a(href="#0")
                    i.-mr-1.glyphicons.glyphicons-earphone(role="none")
                    | +1 (703) 295-7300
                  li.o-List__Item.-mb-1: a(href="#0")
                    i.-mr-1.glyphicons.glyphicons-envelope(role="none")
                    | Other contacts
              section
                h3 Connect With ASCE
                ul.o-List.o-Flex.c-SocialListFooter
                  li.o-List__Item.o-Flex__Item.c-SocialListFooter__Item: a(href="#0")
                    i.glyphicons.social.social-linked-in
                      span.h-Hidden linkedin
                  li.o-List__Item.o-Flex__Item.c-SocialListFooter__Item: a(href="#0")
                    i.glyphicons.social.social-facebook
                      span.h-Hidden facebook
                  li.o-List__Item.o-Flex__Item.c-SocialListFooter__Item: a(href="#0")
                    i.glyphicons.social.social-twitter
                      span.h-Hidden twitter
                  li.o-List__Item.o-Flex__Item.c-SocialListFooter__Item: a(href="#0")
                    i.glyphicons.social.social-youtube
                      span.h-Hidden youtube
                  li.o-List__Item.o-Flex__Item.c-SocialListFooter__Item: a(href="#0")
                    i.glyphicons.social.social-google-plus
                      span.h-Hidden google plus
        +yearTab(2013, {name:'Sample ASCE Conference 2013', tagline:'Lorem Ipsum Optional Tagline for the Conference Goes Here', detail:'Toronto, Canada | May 2–4, 2013'}, 'prev')
          div.t-Content
                    p: a.c-LinkArrow(href="") Program
                    p: a.c-LinkArrow(href="") Proceedings
        +yearTab(2015, {name:'Sample ASCE Conference 2015', tagline:'Lorem Ipsum Optional Tagline for the Conference Goes Here', detail:'Mexico City, Mexico | April 30–May 2, 2015'}, 'next')
          div.t-Content
                    p: a.c-LinkArrow(href="") Call for submissions
                    p: a.c-LinkArrow(href="") Sponsors
                    p: a.c-LinkArrow(href="") Exhibit
      p.c-Banner.c-Banner--copyright.-mb-z.-ta-c
        svg.c-AsceLogo(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 254.89 81.06")
          path(d="M110.19,110c-.78.1,22.24-.17,22.24-.17L102.21,33.17l-22.72-.08L61.94,76.19l21.83-.31,7-20.46L98,77.16l12.4,2.95.37,1.59s-37.81-5.44-64.59,1.8l.12.6s41.56-6,65.41,2.62l.25,1.18S78.63,81.8,47.48,90l.19.92s32.25-6.82,65.41,2l.06.28.23,1.1s-24.79-6.11-64.56,2.1l.19.9s2.37-.32,4.76-.4L48.39,110h22.2l5.55-13.37s16.56-2.35,29.16.46Z" transform="translate(-46.16 -30.97)")
          path(d="M170.92,63l-5.34-1.53c-3.63-1.12-9.29-2.86-9.29-7.35,0-4.29,5.12-6.43,9-6.43a22.58,22.58,0,0,1,13.87,5.11l8.33-15.52A57,57,0,0,0,162.28,31c-16.12,0-27.75,10.21-27.75,25.83,0,14.91,8.65,18.17,21.77,21.75,4.48,1.22,12.7,3.16,12.7,8.78,0,5.41-5.23,7.76-10.14,7.76-7.15,0-13.34-3.57-18.57-8l-9,16.13A51.22,51.22,0,0,0,159.61,112c8.11,0,16.54-2.14,22.84-7.25s8.33-13.07,8.33-20.73C190.77,71.61,182.13,66.19,170.92,63Z" transform="translate(-46.16 -30.97)")
          path(d="M203.15,43.43A39.38,39.38,0,0,0,191.3,71.61c0,11.43,4.05,21.44,12.92,29.1A46,46,0,0,0,234.42,112c6.51,0,11.53-1.53,18.46-3.57v-.89l-9.18-16.71a23.91,23.91,0,0,1-8.86,1.78c-13,0-21.78-8.78-21.78-20.93,0-11.94,8.65-21.34,21.46-21.34a25.11,25.11,0,0,1,9,1.69l9.33-17v-.22A51,51,0,0,0,233.78,31,44.6,44.6,0,0,0,203.15,43.43Z" transform="translate(-46.16 -30.97)")
          path(d="M276.18,50V62.82h23.59V79.77H276.18V93H301V110H255.26V33H301V50Z" transform="translate(-46.16 -30.97)")
        a.-va-c(href="http://www.asce.org/" rel="external") &copy; 1996&ndash;2015, American Society of Civil Engineers | ASCE.org
    a(href="#top") jump to top
    script(
      src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous")
    script(src="../vendor/jquery.hoverIntent.min.js")
    script(src="../js/menu.js")
    script(src="../js/o-Tabs.js")
    script(src="../js/orphaned.js")
