{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}
<td class="c-DateBlock__Date">
  <time class="h-Block" datetime="{{ fields.field_importantdate_startdate.content|date('Y-m-d') }}" itemprop="startTime endTime">
    <span class="c-DateBlock__MonthDay h-Block">{{ fields.field_importantdate_startdate.content|date('M j') }}</span>
    <span class="h-Block">{{ fields.field_importantdate_startdate.content|date('Y') }}</span>
  </time>
</td>
<td class="c-DateBlock__Desc">
  <a
    {% if fields.field_importantdate_link.content == 'On' %} class="c-DateBlock__Link" href="{{ fields.field_importantdate_url.content ?: fields.path.content }}" itemprop="url"{% endif %}
    {% if fields.field_importantdate_link.content == 'Off' %} role="none presentation"{% endif %}
  >
    <data value="{{ fields.title.content }}" itemprop="name">
      {{- fields.field_importantdate_displayname.content ?: fields.title.content -}}
    </data>
  </a>
</td>
