{#
/**
 * @file
 * Theme override for a view template to display a list of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this list.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - list: @todo.
 *   - type: Starting tag will be either a ul or ol.
 *   - attributes: HTML attributes for the list element.
 *
 * @see template_preprocess_views_view_list()
 */
#}
{{ attach_library('legacy/timeblock') }}
{% if attributes -%}
  <table{{ attributes }}>
{% endif %}
  {% if title %}
    <caption><h3>{{ title }}</h3></caption>
  {% endif %}

  <tbody class="c-TimeBlock"{{ list.attributes }}>{# BUG https://www.drupal.org/project/drupal/issues/2845400 #}

    {% for row in rows %}
      <tr {{ row.attributes.addClass('c-TimeBlock__Item').setAttribute('itemprop','subEvent').setAttribute('itemscope','').setAttribute('itemtype','http://schema.org/Event') }}>{{ row.content }}</tr>
    {% endfor %}

  </tbody>

{% if attributes -%}
  </table>
{% endif %}
